<section class="home">

  <div class="grid-background"></div>

  <div class="orange-orbit orbit-one"></div>
  <div class="orange-orbit orbit-two"></div>

  <div class="floating-node node-one">
    Linux
  </div>

  <div class="floating-node node-two">
    Docker
  </div>

  <div class="floating-node node-three">
    Cloud
  </div>

  <div class="floating-node node-four">
    Security
  </div>


  <div class="hero">

    <div class="hero-label">
      <span class="status-dot"></span>

      CLOUD · DEVOPS · DEVSECOPS
    </div>


    <h1>
      JIHAN
      <span>DHAOUI</span>
    </h1>


    <p class="hero-description">
      Engineering student focused on
      <strong>cloud infrastructure</strong>,
      automation, security and reliable systems.
    </p>


    <div class="hero-actions">

      <a
        routerLink="/projects"
        class="primary-button">

        Explore Projects

        <span>↗</span>

      </a>

      <a
        routerLink="/contact"
        class="secondary-button">

        Contact

      </a>

    </div>


    <div class="hero-terminal">

      <span class="terminal-dot"></span>

      <span>
        infrastructure.status = "online"
      </span>

      <span class="cursor"></span>

    </div>

  </div>


  <div class="scroll-indicator">

    <span></span>

    SCROLL TO EXPLORE

  </div>

</section>