<nav class="navbar">

  <!-- LEFT : MENU -->
  <div class="navbar-left">

    <button
      class="menu-button"
      type="button"
      (click)="toggleMenu()"
      aria-label="Open menu">

      <span class="menu-icon">
        ☰
      </span>

      <span>Menu</span>

    </button>

  </div>


  <!-- CENTER : VISITOR COUNTER -->
  <div class="visitor-counter">

    <span class="eye">
      👁
    </span>

    <span class="visitor-number">
      {{ visitorCount }}
    </span>

  </div>


  <!-- RIGHT : LANGUAGE + THEME -->
  <div class="navbar-right">

    <button
      class="language-button"
      type="button"
      (click)="toggleLanguage()">

      <span class="globe">🌐</span>

      <span>{{ language }}</span>

    </button>


    <button
      class="theme-button"
      type="button"
      (click)="toggleTheme()"
      aria-label="Toggle dark mode">

      <span *ngIf="!darkMode">☾</span>
      <span *ngIf="darkMode">☀</span>

    </button>

  </div>

</nav>


<!-- MENU OVERLAY -->

<div
  class="menu-overlay"
  *ngIf="menuOpen"
  (click)="closeMenu()">

  <div
    class="menu-panel"
    (click)="$event.stopPropagation()">

    <button
      class="close-button"
      type="button"
      (click)="closeMenu()">

      ×

    </button>


    <div class="menu-title">
      <span>Navigation</span>
    </div>


    <ul>

      <li>
        <a routerLink="/" (click)="closeMenu()">Home</a>
      </li>

      <li>
        <a routerLink="/about" (click)="closeMenu()">About</a>
      </li>

      <li>
        <a routerLink="/skills" (click)="closeMenu()">Skills</a>
      </li>

      <li>
        <a routerLink="/projects" (click)="closeMenu()">Projects</a>
      </li>

      <li>
        <a routerLink="/certifications" (click)="closeMenu()">
          Certifications
        </a>
      </li>

      <li>
        <a routerLink="/experience" (click)="closeMenu()">
          Experience
        </a>
      </li>

      <li>
        <a routerLink="/contact" (click)="closeMenu()">Contact</a>
      </li>

    </ul>

  </div>

</div>